<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Mozg. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config>
    <modules>
        <Mozg_Pagseguro>
            <version>1.0.0</version>
        </Mozg_Pagseguro>
    </modules>
    <global>
        <models>
            <mozg_pagseguro>
                <class>Mozg_Pagseguro_Model</class>
                <resourceModel>mozg_pagseguro_resource</resourceModel>
            </mozg_pagseguro>
            <mozg_pagseguro_resource>
                <class>Mozg_Pagseguro_Model_Resource</class>
                <entities>
                    <api_debug>
                        <table>mozg_api_debug</table>
                    </api_debug>
                    <event>
                        <table>mozg_event_data</table>
                    </event>
                    <event_queue>
                        <table>mozg_event_data_queue</table>
                    </event_queue>
                    <order_payment>
                        <table>mozg_order_payment</table>
                    </order_payment>
                </entities>
            </mozg_pagseguro_resource>
            <!--<sales>
                <rewrite>
                    <billing_agreement>Mozg_Pagseguro_Model_Billing_Agreement</billing_agreement>
                </rewrite>
            </sales>
            <sales_resource>
                <rewrite>
                    <billing_agreement>Mozg_Pagseguro_Model_Resource_Billing_Agreement</billing_agreement>
                    <billing_agreement_collection>Mozg_Pagseguro_Model_Resource_Billing_Agreement_Collection</billing_agreement_collection>
                </rewrite>
            </sales_resource>-->
        </models>
        <helpers>
            <mozg_pagseguro>
                <class>Mozg_Pagseguro_Helper</class>
            </mozg_pagseguro>
            <payment>
                <rewrite>
                    <data>Mozg_Pagseguro_Helper_Payment_Data</data>
                </rewrite>
            </payment>
        </helpers>
        <resources>
            <mozg_pagseguro_setup>
                <setup>
                    <module>Mozg_Pagseguro</module>
                    <class>Mozg_Pagseguro_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mozg_pagseguro_setup>
            <mozg_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mozg_write>
            <mozg_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mozg_read>
        </resources>
        <blocks>
            <mozg_pagseguro>
                <class>Mozg_Pagseguro_Block</class>
            </mozg_pagseguro>
            <sales>
                <rewrite>
                    <adminhtml_billing_agreement_grid>Mozg_Pagseguro_Block_Adminhtml_Sales_Billing_Agreement_Grid</adminhtml_billing_agreement_grid>
                </rewrite>
            </sales>
        </blocks>
        <events>
            <!--<sales_order_payment_capture>
                <observers>
                    <mozg_pagseguro_payment_capture>
                        <class>mozg_pagseguro/observer</class>
                        <method>addCurrentInvoiceToPayment</method>
                    </mozg_pagseguro_payment_capture>
                </observers>
            </sales_order_payment_capture>
            <controller_action_predispatch>
                <observers>
                    <mozg_pagseguro_api_hpp>
                        <class>mozg_pagseguro/observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_pagseguro_api_hpp>
                    <mozg_pagseguro_billing_agreement>
                        <class>mozg_pagseguro/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_pagseguro_billing_agreement>
                </observers>
            </controller_action_predispatch>
            <sales_order_shipment_save_after>
                <observers>
                    <mozg_pagseguro_capture_invoice_on_shipment>
                        <class>mozg_pagseguro/observer</class>
                        <method>captureInvoiceOnShipment</method>
                    </mozg_pagseguro_capture_invoice_on_shipment>
                </observers>
            </sales_order_shipment_save_after>-->
        </events>
    </global>
    <frontend>
        <secure_url>
            <mozg_process>/mozg_pagseguro/process</mozg_process>
        </secure_url>
        <routers>
            <mozg_pagseguro>
                <use>standard</use>
                <args>
                    <module>Mozg_Pagseguro</module>
                    <frontName>mozg_pagseguro</frontName>
                </args>
            </mozg_pagseguro>
        </routers>
        <translate>
            <modules>
                <Mozg_Pagseguro>
                    <files>
                        <default>Mozg_Pagseguro.csv</default>
                    </files>
                </Mozg_Pagseguro>
            </modules>
        </translate>
        <layout>
            <updates>
                <mozg_pagseguro>
                    <file>mozg_pagseguro.xml</file>
                </mozg_pagseguro>
            </updates>
        </layout>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <mozg_pagseguro_checkout_onepage_controller_success_action>
                        <class>mozg_pagseguro/observer</class>
                        <method>checkoutSuccess</method>
                    </mozg_pagseguro_checkout_onepage_controller_success_action>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mozg_Pagseguro before="Mage_Adminhtml">Mozg_Pagseguro_Adminhtml</Mozg_Pagseguro>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <mozg_pagseguro>
                    <file>mozg_pagseguro.xml</file>
                </mozg_pagseguro>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mozg_Pagseguro>
                    <files>
                        <default>Mozg_Pagseguro.csv</default>
                    </files>
                </Mozg_Pagseguro>
            </modules>
        </translate>
        <events>
            <sales_order_payment_cancel>
                <observers>
                    <mozg_pagseguro_sales_order_payment_cancel>
                        <class>mozg_pagseguro/observer</class>
                        <method>salesOrderPaymentCancel</method>
                    </mozg_pagseguro_sales_order_payment_cancel>
                </observers>
            </sales_order_payment_cancel>
            <controller_action_postdispatch_adminhtml_sales_order_create_save>
                <observers>
                    <mozg_pagseguro_controller_action_postdispatch_adminhtml_sales_order_create_save>
                        <class>mozg_pagseguro/observer</class>
                        <method>adminSalesOrderCreateSave</method>
                    </mozg_pagseguro_controller_action_postdispatch_adminhtml_sales_order_create_save>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_create_save>
        </events>
    </adminhtml>
    <default>
        <payment>
            <mozg_pagseguro_abstract>
                <active>0</active>
                <sort_order>7000</sort_order>
                <debug>1</debug>
                <demoMode>Y</demoMode>
                <capture_mode>auto</capture_mode>
                <create_pending_invoice>0</create_pending_invoice>
                <order_status>pending</order_status>
                <payment_pre_authorized>pending</payment_pre_authorized>
                <payment_authorized>processing</payment_authorized>
                <payment_cancelled>canceled</payment_cancelled>
                <payment_authorized_virtual>complete</payment_authorized_virtual>
                <refund_authorized>closed</refund_authorized>
                <refund_partial_authorized>processing</refund_partial_authorized>
                <pending_status>pending_payment</pending_status>
                <capture_on_shipment>0</capture_on_shipment>
                <uncancelorder>1</uncancelorder>
                <autorefundoncancel>1</autorefundoncancel>
                <send_invoice_update_mail>1</send_invoice_update_mail>
                <send_update_mail>1</send_update_mail>
                <ignore_refund_notification>0</ignore_refund_notification>
                <!--<recurringtypes>ONECLICK</recurringtypes>-->
                <payment_cancelled_redirect>checkout/cart</payment_cancelled_redirect>
                <title_renderer>title_image</title_renderer>
                <shopperlocale></shopperlocale>
                <countryCode></countryCode>
                <fraud_manual_review_status>pending_payment</fraud_manual_review_status>
                <fraud_manual_review_accept_status></fraud_manual_review_accept_status>
                <split_payments_refund_strategy>1</split_payments_refund_strategy>
            </mozg_pagseguro_abstract>
            <mozg_pagseguro_api_padrao>
                <active>0</active>
                <sort_order>7010</sort_order>
                <title>PagSeguro Padrão (powered by MOZG)</title>
                <model>mozg_pagseguro/method_api_padrao</model>
                <group>mozg_payment</group>
                <debug>1</debug>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <visible_type>both</visible_type>
                <order_underpaid_status></order_underpaid_status>
                <order_overpaid_status></order_overpaid_status>
            </mozg_pagseguro_api_padrao>
            <mozg_pagseguro_api_lightbox translate="title" module="mozg_pagseguro">
                <active>0</active>
                <sort_order>7020</sort_order>
                <title>PagSeguro LightBox (powered by MOZG)</title>
                <model>mozg_pagseguro/method_api_lightbox</model>
                <group>mozg_payment</group>
                <debug>1</debug>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <visible_type>both</visible_type>
                <order_underpaid_status></order_underpaid_status>
                <order_overpaid_status></order_overpaid_status>
            </mozg_pagseguro_api_lightbox>
            <mozg_pagseguro_api_cc translate="title" module="mozg_pagseguro">
                <active>0</active>
                <sort_order>7030</sort_order>
                <title>Cartão de Crédito Pagseguro (powered by MOZG)</title>
                <model>mozg_pagseguro/method_api_cc</model>
                <group>mozg_payment</group>
                <debug>1</debug>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <cctypes>AE,VI,MC,DI,DC,JCB,ELO,AU</cctypes>
                <visible_type>both</visible_type>
                <authenticate>0</authenticate>
                <fraudanalysis>0</fraudanalysis>
                <enable_moto>0</enable_moto>
                <enable_installments>1</enable_installments>
                <!--<installments>a:1:{i:0;a:4:{i:0;s:3:"BRL";i:1;s:6:"100000";i:2;s:1:"1";i:3;s:0:"";}}</installments>-->
            </mozg_pagseguro_api_cc>
            <!--<mozg_pagseguro_api_dc translate="title" module="mozg_pagseguro">
                <active>0</active>
                <sort_order>7040</sort_order>
                <title>Cartão de Débito Pagseguro (powered by MOZG)</title>
                <model>mozg_pagseguro/method_api_dc</model>
                <group>mozg_payment</group>
                <debug>1</debug>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <dctypes>VI,MC</dctypes>
                <visible_type>both</visible_type>
                <enable_moto>0</enable_moto>
                <enable_installments>0</enable_installments>
            </mozg_pagseguro_api_dc>
            <mozg_pagseguro_api_oneclick translate="title" module="mozg_pagseguro">
                <active>0</active>
                <sort_order>7050</sort_order>
                <title>Pagseguro OneClick (powered by MOZG)</title>
                <model>mozg_pagseguro/method_api_oneclick</model>
                <group>mozg_payment</group>
                <debug>1</debug>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <recurring_payment_type>ONECLICK</recurring_payment_type>
            </mozg_pagseguro_api_oneclick>
            <mozg_pagseguro_api_hpp translate="title" module="mozg_pagseguro">
                <active>0</active>
                <sort_order>7060</sort_order>
                <title>Pagseguro HPP (powered by MOZG)</title>
                <model>mozg_pagseguro/method_api_hpp</model>
                <group>mozg_payment</group>
                <debug>1</debug>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <disable_hpptypes>1</disable_hpptypes>
            </mozg_pagseguro_api_hpp>-->
            <mozg_pagseguro_api_boleto translate="title" module="mozg_pagseguro">
                <active>0</active>
                <sort_order>7070</sort_order>
                <title>Boleto Pagseguro (powered by MOZG)</title>
                <model>mozg_pagseguro/method_api_boleto</model>
                <group>mozg_payment</group>
                <debug>1</debug>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <boletotypes>NULL</boletotypes>
                <visible_type>both</visible_type>
                <order_underpaid_status></order_underpaid_status>
                <order_overpaid_status></order_overpaid_status>
            </mozg_pagseguro_api_boleto>
            <mozg_pagseguro_api_eletronictransfer translate="title" module="mozg_pagseguro">
                <active>0</active>
                <sort_order>7080</sort_order>
                <title>Transferência Eletrônica Pagseguro (powered by MOZG)</title>
                <model>mozg_pagseguro/method_api_eletronicTransfer</model>
                <group>mozg_payment</group>
                <debug>1</debug>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <eletronictransfertypes>NULL</eletronictransfertypes>
                <visible_type>both</visible_type>
                <order_underpaid_status></order_underpaid_status>
                <order_overpaid_status></order_overpaid_status>
            </mozg_pagseguro_api_eletronictransfer>
        </payment>
        <mozg_pagseguro>
            <payment>
                <cctypes>
                    <AE>
                        <code>AE</code>
                        <code_alt>amex</code_alt>
                        <name>American Express</name>
                        <order>0</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </AE>
                    <VI>
                        <code>VI</code>
                        <code_alt>visa</code_alt>
                        <name>Visa</name>
                        <order>10</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </VI>
                    <MC>
                        <code>MC</code>
                        <code_alt>mc</code_alt>
                        <name>Master Card</name>
                        <order>20</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </MC>
                    <DI>
                        <code>DI</code>
                        <code_alt>discover</code_alt>
                        <name>Discover</name>
                        <order>30</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </DI>
                    <DC>
                        <code>DC</code>
                        <code_alt>diners</code_alt>
                        <name>Diners Club</name>
                        <order>40</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </DC>
                    <JCB>
                        <code>JCB</code>
                        <code_alt>jcb</code_alt>
                        <name>JCB</name>
                        <order>70</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </JCB>
                    <ELO>
                        <code>ELO</code>
                        <code_alt>elo</code_alt>
                        <name>Elo</name>
                        <order>80</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </ELO>
                    <!--<hipercard>
                        <code>hipercard</code>
                        <code_alt>hipercard</code_alt>
                        <name>Hipercard</name>
                        <order>90</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </hipercard>-->
                    <AU>
                        <code>AU</code>
                        <code_alt>aura</code_alt>
                        <name>Aura</name>
                        <order>100</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </AU>
                </cctypes>
                <dctypes>
                    <VI>
                        <code>VI</code>
                        <code_alt>visa</code_alt>
                        <name>Visa</name>
                        <order>10</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </VI>
                    <MC>
                        <code>MC</code>
                        <code_alt>mc</code_alt>
                        <name>Master Card</name>
                        <order>20</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </MC>
                    <!--<SM>
                        <code>SM</code>
                        <code_alt>maestro</code_alt>
                        <name>Maestro</name>
                        <order>60</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </SM>-->
                </dctypes>
                <boletotypes>
                    <node>
                        <code>code</code>
                        <name>name</name>
                        <order>0</order>
                    </node>
                </boletotypes>
                <eletronictransfertypes>
                    <node>
                        <code>code</code>
                        <name>name</name>
                        <order>0</order>
                    </node>
                </eletronictransfertypes>
                <recurringtypes>
                    <none>
                        <code></code>
                        <name>NONE</name>
                        <order>10</order>
                    </none>
                    <oneclick>
                        <code>ONECLICK</code>
                        <name>ONECLICK</name>
                        <order>20</order>
                    </oneclick>
                    <recurring>
                        <code>RECURRING</code>
                        <name>RECURRING</name>
                        <order>30</order>
                    </recurring>
                    <oneclickrecurring>
                        <code>ONECLICK,RECURRING</code>
                        <name>ONECLICK,RECURRING</name>
                        <order>40</order>
                    </oneclickrecurring>
                </recurringtypes>
            </payment>
        </mozg_pagseguro>
    </default>
    <crontab>
        <jobs>
            <mozg_pagseguro_process_notification_queue>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mozg_pagseguro/cronjob::updateNotificationQueue</model>
                </run>
            </mozg_pagseguro_process_notification_queue>
            <mozg_pagseguro_trigger_notification>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mozg_pagseguro/cronjob::triggerNotification</model>
                </run>
            </mozg_pagseguro_trigger_notification>
        </jobs>
    </crontab>
</config>
